<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 id="WebApp_ID" metadata-complete="true">
	<!-- The definition of the Root Spring Container shared by all Servlets
       and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>com.paytm.pgplus.theia.listeners.TheiaContextListener
		</listener-class>
	</listener>

	<filter>
		<filter-name>apiLogger</filter-name>
		<filter-class>com.paytm.pgplus.theia.nativ.filter.ApiLogger</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>apiLogger</filter-name>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>/processTransaction</url-pattern>
		<url-pattern>/initiate/*</url-pattern>
		<url-pattern>/customProcessTransaction</url-pattern>
		<url-pattern>/linkPaymentRedirect</url-pattern>
		<url-pattern>/v1/order/pay/upipsp</url-pattern>
		<url-pattern>/upi/*</url-pattern>
		<url-pattern>/HANDLER_IVR/*</url-pattern>
		<url-pattern>/paytmCallback</url-pattern>
		<url-pattern>/closeOrder</url-pattern>
		<url-pattern>/linkPayment/generateSendOTP</url-pattern>
		<url-pattern>/login/validateOtp</url-pattern>
		<url-pattern>/oltp-web/processTransaction</url-pattern>
		<url-pattern>/order/process</url-pattern>
		<url-pattern>/oltp-web/processTransaction</url-pattern>
		<url-pattern>/transactionStatus</url-pattern>
		<url-pattern>/fetchPaymentOptions</url-pattern>
		<url-pattern>/login/sendOtp</url-pattern>
		<url-pattern>/subscription/create</url-pattern>
		<url-pattern>/order/pay</url-pattern>
		<url-pattern>/linkPayment/generateSendOTP</url-pattern>
		<url-pattern>/userAsset/fetchBalanceInfo</url-pattern>
		<url-pattern>/linkPayment/validateSendOTP</url-pattern>
		<url-pattern>/process/mandate</url-pattern>
		<url-pattern>/fetchBinDetail</url-pattern>
		<url-pattern>/checkoutForward</url-pattern>
		<url-pattern>/oltp-web/customPT</url-pattern>
		<url-pattern>/abandonTransaction</url-pattern>
		<url-pattern>/order/initiate</url-pattern>
		<url-pattern>/addMoneyExpress/kyc/submit</url-pattern>
		<url-pattern>/error</url-pattern>
		<url-pattern>/oltp/HANDLER_INTERNAL/CARD_TOKEN_GENERATOR</url-pattern>
		<url-pattern>/customProcessTransactionBNPL</url-pattern>
		<url-pattern>/oltp-web/genericPT</url-pattern>
		<url-pattern>/fetchDccPage</url-pattern>
		<url-pattern>/dynamic-wrapper</url-pattern>
		<url-pattern>/cancelTransaction</url-pattern>
		<url-pattern>/undefined</url-pattern>
		<url-pattern>/upiPollPage</url-pattern>
		<url-pattern>/bin/fetchBinAppDetails</url-pattern>
		<url-pattern>/undefinedapi/flow/info</url-pattern>
		<url-pattern>/oauthResponseRedirect</url-pattern>
		<url-pattern>/imei</url-pattern>
		<url-pattern>/postTransactionSplit</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>apiPerformanceLogger</filter-name>
		<filter-class>com.paytm.pgplus.theia.nativ.filter.ApiPerformanceLogger</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>apiPerformanceLogger</filter-name>
		<url-pattern>/api/v1/processTransaction</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>responseCompressionFilter</filter-name>
		<filter-class>com.paytm.pgplus.theia.nativ.filter.ResponseCompressionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>responseCompressionFilter</filter-name>
		<url-pattern>/api/v1/fetchQRPaymentDetails</url-pattern>
		<url-pattern>/api/v2/fetchQRPaymentDetails</url-pattern>
		<url-pattern>/api/v1/fetchPaymentOptions</url-pattern>
		<url-pattern>/api/v2/fetchPaymentOptions</url-pattern>
		<url-pattern>/api/v5/fetchPaymentOptions</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LoggingFilter</filter-name>
		<filter-class>com.paytm.pgplus.theia.nativ.filter.LoggingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoggingFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>/processTransaction</url-pattern>
		<url-pattern>/initiate/*</url-pattern>
		<url-pattern>/customProcessTransaction</url-pattern>
		<url-pattern>/linkPaymentRedirect</url-pattern>
		<url-pattern>/v1/order/pay/upipsp</url-pattern>
		<url-pattern>/upi/*</url-pattern>
		<url-pattern>/HANDLER_IVR/*</url-pattern>
		<url-pattern>/paytmCallback</url-pattern>
		<url-pattern>/closeOrder</url-pattern>
		<url-pattern>/linkPayment/generateSendOTP</url-pattern>
		<url-pattern>/login/validateOtp</url-pattern>
		<url-pattern>/oltp-web/processTransaction</url-pattern>
		<url-pattern>/order/process</url-pattern>
		<url-pattern>/oltp-web/processTransaction</url-pattern>
		<url-pattern>/transactionStatus</url-pattern>
		<url-pattern>/fetchPaymentOptions</url-pattern>
		<url-pattern>/login/sendOtp</url-pattern>
		<url-pattern>/subscription/create</url-pattern>
		<url-pattern>/order/pay</url-pattern>
		<url-pattern>/linkPayment/generateSendOTP</url-pattern>
		<url-pattern>/userAsset/fetchBalanceInfo</url-pattern>
		<url-pattern>/linkPayment/validateSendOTP</url-pattern>
		<url-pattern>/process/mandate</url-pattern>
		<url-pattern>/fetchBinDetail</url-pattern>
		<url-pattern>/checkoutForward</url-pattern>
		<url-pattern>/oltp-web/customPT</url-pattern>
		<url-pattern>/abandonTransaction</url-pattern>
		<url-pattern>/order/initiate</url-pattern>
		<url-pattern>/addMoneyExpress/kyc/submit</url-pattern>
		<url-pattern>/error</url-pattern>
		<url-pattern>/oltp/HANDLER_INTERNAL/CARD_TOKEN_GENERATOR</url-pattern>
		<url-pattern>/customProcessTransactionBNPL</url-pattern>
		<url-pattern>/oltp-web/genericPT</url-pattern>
		<url-pattern>/fetchDccPage</url-pattern>
		<url-pattern>/dynamic-wrapper</url-pattern>
		<url-pattern>/cancelTransaction</url-pattern>
		<url-pattern>/undefined</url-pattern>
		<url-pattern>/upiPollPage</url-pattern>
		<url-pattern>/bin/fetchBinAppDetails</url-pattern>
		<url-pattern>/undefinedapi/flow/info</url-pattern>
		<url-pattern>/oauthResponseRedirect</url-pattern>
		<url-pattern>/transactionStatus</url-pattern>
		<url-pattern>/HANDLER_IVR/CLW_APP_PAY/APP</url-pattern>
		<url-pattern>/v1/directBankCardPayment</url-pattern>
		<url-pattern>/PAYTM_EXPRESS/getCardToken</url-pattern>
		<url-pattern>/v1/createUPILink</url-pattern>
		<url-pattern>/processRetry</url-pattern>
		<url-pattern>/v1/transactionStatus</url-pattern>
		<url-pattern>/v4/fetchPaymentOptions</url-pattern>
		<url-pattern>/v2/fetchPaymentInstruments</url-pattern>
		<url-pattern>/payment/request/submit</url-pattern>
		<url-pattern>/postTransactionSplit</url-pattern>
	</filter-mapping>

	<filter>
        <filter-name>nativeQueryParamValidationFilter</filter-name>
        <filter-class>com.paytm.pgplus.theia.nativ.filter.QueryParamValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>nativeQueryParamValidationFilter</filter-name>
	        <url-pattern>/api/v1/initiateTransaction</url-pattern>
			<url-pattern>/api/v1/fetchNBPaymentChannels</url-pattern>
			<url-pattern>/api/v1/fetchPaymentOptions</url-pattern>
			<url-pattern>/api/v2/fetchPaymentOptions</url-pattern>
			<url-pattern>/api/v5/fetchPaymentOptions</url-pattern>
			<url-pattern>/api/v1/fetchBinDetail</url-pattern>
			<url-pattern>/api/v1/login/sendOtp</url-pattern>
			<url-pattern>/api/v1/login/validateOtp</url-pattern>
			<url-pattern>/api/v1/processTransaction</url-pattern>
			<url-pattern>/api/v1/fetchBalanceInfo</url-pattern>
			<url-pattern>/api/v1/fetchEmiPaymentChannels</url-pattern>
			<url-pattern>/api/v1/fetchEmiDetail</url-pattern>
		    <url-pattern>/api/v1/updateTransactionDetail</url-pattern>
			<url-pattern>/api/v1/fetchCardIndexNo</url-pattern>
			<url-pattern>/api/v1/showPaymentPage</url-pattern>
			<url-pattern>/api/v2/showPaymentPage</url-pattern>
			<url-pattern>/api/v1/showLinkPaymentPage</url-pattern>
			<url-pattern>/api/v1/subscription/create</url-pattern>
			<url-pattern>/api/v1/subscription/renew</url-pattern>
			<url-pattern>/api/v1/fetchQRPaymentDetails</url-pattern>
		    <url-pattern>/api/v1/logout/user</url-pattern>
		    <url-pattern>/api/v1/guest/fetchPaymentOptions</url-pattern>
		    <url-pattern>/api/v1/guest/fetchBinDetail</url-pattern>
		    <url-pattern>/api/v1/emiSubvention/validateEmi</url-pattern>
		    <url-pattern>/api/v1/emiSubvention/banks</url-pattern>
		    <url-pattern>/api/v1/emiSubvention/tenures</url-pattern>
		    <url-pattern>/api/v1/validateBin</url-pattern>
			<url-pattern>/api/v1/card/deEnroll</url-pattern>
			<url-pattern>/api/v1/card/enrollmentStatus</url-pattern>
		    <url-pattern>/api/v4/fetchBinDetail</url-pattern>
		    <url-pattern>/api/v4/fetchPaymentOptions</url-pattern>
		    <url-pattern>/api/v4/fetchNBPaymentChannels</url-pattern>
		    <url-pattern>/api/v4/vpa/validate</url-pattern>
		    <url-pattern>/api/v4/login/sendOtp</url-pattern>
		    <url-pattern>/api/v4/login/validateOtp</url-pattern>
		    <url-pattern>/api/v4/subscription/create</url-pattern>
			<url-pattern>/api/v2/login/validateOtp</url-pattern>
			<url-pattern>/api/v2/logout/user</url-pattern>
		    <url-pattern>/api/v1/fetchUserPaymentModeStatus</url-pattern>
			<url-pattern>/api/v1/imei</url-pattern>
	</filter-mapping>

          <filter>
    		<filter-name>ssoTokenInsertionFilter</filter-name>
    		<filter-class>com.paytm.pgplus.theia.filter.SSOTokenInsertionFilter</filter-class>
    	</filter>
    	<filter-mapping>
    		<filter-name>ssoTokenInsertionFilter</filter-name>
                <url-pattern>/api/v1/fetchQRPaymentDetails</url-pattern>
		 <url-pattern>/api/v2/fetchQRPaymentDetails</url-pattern>
                <url-pattern>/api/v1/fetchPaymentOptions</url-pattern>
                <url-pattern>/api/v2/fetchPaymentOptions</url-pattern>
				<url-pattern>/api/v5/fetchPaymentOptions</url-pattern>
                <url-pattern>/HANDLER_IVR/CLW_APP_PAY/APP</url-pattern>
                <url-pattern>/api/v1/processTransaction</url-pattern>
                <url-pattern>/api/v1/fetchBinDetail</url-pattern>
                <url-pattern>/api/v1/fetchBalanceInfo</url-pattern>
                <url-pattern>/api/v1/fetchEMIDetail</url-pattern>
                <url-pattern>/api/v1/fetchPcfDetails</url-pattern>
                <url-pattern>/api/v1/fetchNBPaymentChannels</url-pattern>
			    <url-pattern>/api/v2/fetchMerchantInfo</url-pattern>
    	</filter-mapping>

    <filter>
        <filter-name>multiReadHttpRequestFilter</filter-name>
        <filter-class>com.paytm.pgplus.theia.filter.MultiReadHttpServletRequestWrapperFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>multiReadHttpRequestFilter</filter-name>
	        <url-pattern>/api/v1/initiateTransaction</url-pattern>
	        <url-pattern>/api/v1/order/pay</url-pattern>
            <url-pattern>/api/v1/updateTransactionDetail</url-pattern>
	        <url-pattern>/api/v1/fetchNBPaymentChannels</url-pattern>
			<url-pattern>/api/v1/fetchPaymentOptions</url-pattern>
			<url-pattern>/api/v2/fetchPaymentOptions</url-pattern>
			<url-pattern>/api/v5/fetchPaymentOptions</url-pattern>
			<url-pattern>/api/v1/fetchBinDetail</url-pattern>
			<url-pattern>/api/v1/login/sendOtp</url-pattern>
			<url-pattern>/api/v1/login/validateOtp</url-pattern>
			<url-pattern>/api/v4/login/sendOtp</url-pattern>
			<url-pattern>/api/v4/login/validateOtp</url-pattern>
			<url-pattern>/api/v1/processTransaction</url-pattern>
			<url-pattern>/api/v1/fetchBalanceInfo</url-pattern>
			<url-pattern>/api/v1/fetchEmiPaymentChannels</url-pattern>
			<url-pattern>/api/v1/fetchEmiDetail</url-pattern>
			<url-pattern>/vpa/validate</url-pattern>
			<url-pattern>/api/v4/vpa/validate</url-pattern>
			<url-pattern>/fetchPaymentInstruments</url-pattern>
			<url-pattern>/api/v1/showPaymentPage</url-pattern>
			<url-pattern>/api/v2/showPaymentPage</url-pattern>
			<url-pattern>/api/v1/showLinkPaymentPage</url-pattern>
			<url-pattern>/api/v1/subscription/create</url-pattern>
			<url-pattern>/api/v1/subscription/renew</url-pattern>
			<url-pattern>/api/v1/closeOrder</url-pattern>
			<url-pattern>/api/v1/fetchQRPaymentDetails</url-pattern>
		    <url-pattern>/api/v1/logout/user</url-pattern>
		    <url-pattern>/api/v1/guest/fetchPaymentOptions</url-pattern>
		    <url-pattern>/api/v1/guest/fetchBinDetail</url-pattern>
			<url-pattern>/api/v1/fetchCardIndexNo</url-pattern>
			<url-pattern>/api/v1/token/create</url-pattern>
			<url-pattern>/api/v1/cardNumberValidation</url-pattern>
			<url-pattern>/HANDLER_IVR/CLW_APP_PAY/APP</url-pattern>
		    <url-pattern>/api/v2/applyPromo</url-pattern>
			<url-pattern>/api/v1/internal/processTransaction</url-pattern>
			<url-pattern>/api/v1/processOrderAndPay</url-pattern>
			<url-pattern>/api/v2/login/validateOtp</url-pattern>
			<url-pattern>/api/v2/logout/user</url-pattern>
			<url-pattern>/api/v1/imei</url-pattern>
			<url-pattern>/postTransactionSplit</url-pattern>

	</filter-mapping>

	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>com.paytm.pgplus.theia.filter.XSSFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>XSSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<!--No need to initialize appServlet/servlet-context.xml again in init params.
			As root context has all beans so loading empty theia-context.xml if not specify any file
			then it will load appServlet-servlet.xml and if this filenot present throw error while
			starting-->
			<param-value>/WEB-INF/spring/appServlet/theia-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Jersey Servlet -->
	<!--<servlet>
		<servlet-name>jersey-integration</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<async-supported>true</async-supported>
		&lt;!&ndash; Register resources and providers &ndash;&gt;
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.paytm.pgplus.theia.jaxrs,
				com.paytm.pgplus.theia.controllers.async
			</param-value>
		</init-param>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.paytm.pgplus.theia.jaxrs.JerseyAppConfig</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-integration</servlet-name>
		<url-pattern>/async/*</url-pattern>
	</servlet-mapping>-->


	<servlet>
		<servlet-name>PageDispatcherServlet</servlet-name>
		<servlet-class>com.paytm.pgplus.theia.controllers.PageDispatcherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>error</servlet-name>
		<jsp-file>/WEB-INF/views/jsp/error.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageDispatcherServlet</servlet-name>
		<url-pattern>/jsp/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/v1/error</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>416</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/jsp/oops.jsp</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/WEB-INF/views/jsp/oops.jsp</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/WEB-INF/views/jsp/oops.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/views/jsp/oops.jsp</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/WEB-INF/views/jsp/oops.jsp</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/WEB-INF/views/jsp/oops.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/views/jsp/oops.jsp</location>
	</error-page>

</web-app>
