body, p{margin:0; padding:0; font-family: Arial, Helvetica, sans-serif}
img{border:none;}
a{text-decoration:none}
select{background:#ffffff;}
input[type="text"], input[type="tel"], input[type="password"], select{border:#cccccc solid 1px;font-size:medium; font-weight:500; font-family:Arial, Helvetica, sans-serif;width:80%; padding-top:5px; padding-bottom:5px; padding-right:5px; padding-left:5px;background-color:#ffffff;}
/*Header*/
#header {
	padding: 10px;
	border-bottom: 1px #ddd solid;
	background-color: #fff;
}

body {
	background: #eee;
	color: #4a4a4a;
}

.cancel {
	color: #0088cc;
	text-decoration: underline;
}

.container {
	width: 90%;
	margin:auto;
}


.img {
	background: url("../../../images/wap/merchantLow2/sprite.png") no-repeat;
}

.img-logo {
	background-position: center -22px;
	width: 189px;
	height: 32px;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 6px;
	background-size: 90%;
}

.img-back-holder {
	padding: 12px 10px 10px 10px;
	margin: 0px !important;
}

.img-back {
	background-position: -2px -72px;
	margin: auto;
	width: 24px;
	height: 20px;
}

.pay-mode-tab form {
	margin: 15px 4%;
	background-color: #fff;
	border: 1px #01bdf2 solid;
	border-radius: 4px;
	padding: 3%;
}

.other-modes-wrapper {
	margin: 4%;
	margin-top: 20px;
	background : #fff;
}

input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.logo{
	background: #f0f0f0;
	border-bottom: #bfbfbf solid 1px;
	padding: 7px 10px 3px 10px;
}

#logo-img {
	height : 28px;
	margin : auto;
	width : 70px;	
}

.back-btn {
	padding-top : 5px;
}

/*Common*/
.fl{float:left;}
.fr{float:right !important;}
.clear{clear:both;}
.divider{border-bottom:#666 solid 1px;}
.dotted{border-bottom:#000 dotted 1px;}
.right{text-align:right;}
p a, a.tips{color: #0088cc; font:500 small Arial, Helvetica, sans-serif}
p a:hover{color: #005580; font:500 small Arial, Helvetica, sans-serif}
.center{text-align:center;}

/*Rows*/
.row{padding:5px 4%; font:14px Arial, Helvetica, sans-serif}
.row-dot{padding:5px 7px; color:#000; padding:10px 7px; font:14px Arial, Helvetica, sans-serif}

/*Margin/Padding*/
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pad{padding:15px 20px}
.pt7{padding-top:7px;}
.mr7{margin-right:7px;}
.pad10{padding:10px 10px 0 20px;}
.ml20{margin-left:20px;}
.mb5{margin-bottom:5px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.ml5{margin-left: 5px;}

/*Headings*/
.heading{
	padding: 0px 4%;
	font: 14px Arial, Helvetica, sans-serif;
	margin: 20px 0px 10px 0px;
	display:none;
	font-weight: bold;
}
.bottom_border{border-bottom: #ccc solid 1px; font-weight:bold;}

/*Bottom Links*/
.bottom-link, .bottom-link-last{display:block;font:500 small Arial, Helvetica, sans-serif; padding:10px 15px;border-bottom:#ccc solid 1px;}
a .bottom-link,  a .bottom-link-last{color:#333333;}
a:hover .bottom-link, a:hover .bottom-link-last{color:#005580;}
.bottom-link-last{border-bottom:none;}

/*Form elements*/
.blue-btn{
	background-color: #00baf2;
	border: 0;
	color: #fff;
	font: 18px medium Arial,Helvetica,sans-serif;
	padding: 8px 5px;
	width: 97%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.gry-btn{background-color: #B6B6B6;background-image: -moz-linear-gradient(top, #B6B6B6, #848485);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B6B6B6), to(#848485)); background-image: -webkit-linear-gradient(top, #B6B6B6, #848485); background-image: -o-linear-gradient(top, #B6B6B6, #848485);
background-image: linear-gradient(to bottom, #B6B6B6, #848485); background-repeat: repeat-x; border-color: #848485 #848485 #A9A9A9; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#848485', endColorstr='#848485', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); color:#ffffff;font: 700 medium Arial, Helvetica, sans-serif; padding: 8px 5px;width: 97%;} 
.cvv-input{width:50px !important;}
.medium-input {
	width: 74px !important;
}
.expSelect{width:100%}
.fullWalletDeduct{
	margin: 0px 7px;
}

/*Footer*/
.footer{
	border-top:#bfbfbf solid 1px;
	padding:7px;
	background: #fff;
	margin-top: 20px;
}

/*Error /Failure*/
.failure{background-color:#fcf8e3;border:#fbeed5 solid 1px; padding:7px; margin-bottom:10px;color:#a6803f; font:500 medium Arial, Helvetica, sans-serif;}
.danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
.error-txt{color:#b53b3b; font-size:12px;}
input.error, select.error{border:1px solid #b53b3b;}

/*Lock*/
.small{font-size : 12px; color:#9a9999; }
.secure-text {
	padding-left:5px; width:85%
}
.image{width:17px;}
.deleteCard{
	float:right;font-size:small;margin-top:8px;color:#2cbdfc; text-decoration:underline; border:none; background-color:#fff; cursor:pointer;
	display : none;
}
.deleteCard:hover{color:#555;}
.bal{ color:#9a9999}

.user-view {padding :10px 10px 10px 10px;
width: 19%;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;

}
.VISA-sc{ background-image:url(../../../images/wap/merchantLow2/visa-new.png);background-size: 55px 15px; background-repeat: no-repeat;}
.MASTER-sc{ background-image:url(../../../images/wap/merchantLow2/master-new.png);background-size: 55px 15px;background-repeat: no-repeat;}
.DINERS-sc{ background-image:url(../../../images/wap/merchantLow2/diners.png);	background-repeat: no-repeat;}
.SBIME-sc{ background-image:url(../../../images/wap/merchantLow2/maestro.png); background-repeat: no-repeat;}
.MAESTRO-sc{ background-image:url(../../../images/wap/merchantLow2/maestro.png); background-repeat: no-repeat;}
.AMEX-sc{ background-image:url(../../../images/wap/merchantLow2/amex.jpg); background-repeat: no-repeat;}
.RUPAY-sc{ background-image:url(../../../images/wap/merchantLow2/rupay-new.png); background-repeat: no-repeat;width:55px;}
.sc-icon{
	width: 69px;
    height: 18px;
    display: inline-block;
}
.user-name {
	padding-top : 5px;
	font-size : 12px;
}
.userNm{width: 100%;
display: block;
overflow: hidden;
text-overflow: ellipsis;}
#show-other-options {
	display: block;
	text-decoration: underline;
	cursor: pointer;
	text-align: right;
	padding: 10px 10px 0px 0px;
}

#partner-logos {
	margin-left : -5px;
	text-align: center;
}

.hide {
	display : none;
}

.alert {
	padding: 10px 4%;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 16px;
}

.alert-info {
	background-color: #d7f3fd;
	color: #00bef2;
}

.alert-success {
	background-color: #dff0d8;
	color: #3c763d;
}

.alert-danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

.emi-plans {
	list-style : none;	
	padding : 0px;
	overflow : hidden;
}

.emi-plans li{
	width: 28%;
	text-align: right;
	float: left;
	border: 1px solid #ccc;
	padding: 5px;
	margin: 0px 3px 3px 0px;
}

.emi-amt {
	font-size : 14px;
	line-height : 23px;
}

.emi-month {
	font-size: 18px;
	line-height: 20px;
	color: #000;
}

.emi-interest {
	font-size : 12px;
}
.VISA-sc{ background-image:url(../../../images/wap/merchantLow/visa-new.png);background-size: 55px 15px; background-repeat: no-repeat;}
.MASTER-sc{ background-image:url(../../../images/wap/merchantLow/master-new.png);background-size: 55px 15px;background-repeat: no-repeat;}
.DINERS-sc{ background-image:url(../../../images/wap/merchantLow/diners-new.png);	background-repeat: no-repeat;}
.SBIME-sc{ background-image:url(../../../images/wap/merchantLow/maestro.png); background-repeat: no-repeat;}
.MAESTRO-sc{ background-image:url(../../../images/wap/merchantLow/maestro.png); background-repeat: no-repeat;}
.AMEX-sc{ background-image:url(../../../images/wap/merchantLow/amex.jpg); background-repeat: no-repeat;}
.RUPAY-sc{ background-image:url(../../../images/wap/merchantLow/rupay-new.png); background-repeat: no-repeat;width:55px;}
.visa{ background-image:url(../../../images/wap/merchantLow/visa-new.png); background-repeat: no-repeat;background-position:99% 5px;}
.master{ background-image:url(../../../images/wap/merchantLow/master-new.png); background-repeat: no-repeat;background-position:99% 1px;background-size: 14%;}
.rupay{ background-image:url(../../../images/wap/merchantLow/rupay-new.png); background-repeat: no-repeat;background-position:99% 1px;}
.amex{ background-image:url(../../../images/wap/merchantLow/amex-new.png); background-repeat: no-repeat;background-position:99% -1px;}
.maestro{ background-image:url(../../../images/wap/merchantLow/maestro.png); background-repeat: no-repeat;background-position:99% 5px;}
.diners{ background-image:url(../../../images/wap/merchantLow/diners-new.png); background-repeat: no-repeat;background-position:99% 5px;}
.discover{ background-image:url(../../../images/wap/merchantLow/discover.png); background-repeat: no-repeat;background-position:99% 5px;}
.bajajfn{ background-image:url(../../../images/wap/merchantLow/bajajfn.png); background-repeat: no-repeat;background-position:99% 5px;}}

.sc-icon{
	width: 69px;
    height: 18px;
    display: inline-block;
}
.rel_pos{position:relative;}
.abs_pos{position:absolute; right: 6px; top:8px}
#otherText{font-size:16px;}
.bal{margin-top:3px;}

.bgwhite {
	background : white;
}

#otherpaymentModeHeading {
	padding: 10px;
	font: bold 14px Arial, Helvetica, sans-serif;
}

.img-partner-logo {
	background-position: 0px 8px;
	width: 235px;
	height: 45px;
	display: inline-block;
}

.b {
	font-weight : bold;
}

.underline {
	text-decoration : underline;
}

.blue-text, .blue-text * {
	color : #00bef2 !important;
}

.grid {
	overflow : hidden;
	margin :0px;
	padding: 10px 0px;
}
.grid li {
	float : left;
	list-style: none;
}

.grid > li:first-child {
	width: 65%;
}

.grid > li:last-child {
	width: 35%;
	text-align: right;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
/* .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 64px;
    width: 100%;
}
 */
#merchant-logo {
padding: 5px 0px;
}

#merchant-logo img {
height: 40px;
}

.bt {
border-top: 1px solid #d4d4d4;
}

.pad10 {
padding: 10px 0px;
} 

.cart {
	width : 90%;
	padding : 0px 5%;
}

.amount-grid {
	padding : 10px 0px 0px 0px;
}

.large, .large * {
font-size: 18px;
}

.medium, .medium * {
font-size: 16px;
}
.x-small{font-size:11px;}
.nbTab{width:96%; padding:5px; border:1px solid #ccc; color:#000; font-size:12px; display:block; margin:5px 0;}