body, form{margin:0;padding:0;font-family: Helvetica, Arial, Verdana, sans-serif;}
img{border:0;}
.clear{clear:both;}
p, .txt{font-size:14px;color:#333333;}

/*Header*/
#header{background:url(../images/header-bg.png) repeat top;height:42px;border-bottom:#e4e4e4 solid 1px;padding:5px 7px;}

/*Form elements*/
.field-caption{color:#333333;font:normal 14px Arial, Helvetica, sans-serif;padding-top:9px;}
input[type="text"], select, input[type="password"], input[type="text"]:focus, select:focus, input[type="password"]:focus, textarea{margin:3px 0 0 0;width:70%;padding:3px 2px;color:#333333;font:normal 14px Arial, Helvetica, sans-serif; padding:3px 5px;}
input[type="radio"]{margin-top:3px;}
input[type="checkbox"]{margin-top:10px;}
/*.button{background-color:#ff9b33;color:#fff;font:bold 12px Helvetica, Arial, Verdana, sans-serif;padding:3px 7px;border:0;margin:10px 0;}
*/.pay{background:url(../images/pay_now.png) no-repeat;width:120px;height:35px;border:none;margin:10px 0;}
.cancel{background:url(../images/cancel-button.png) no-repeat;width:120px;height:35px;border:none;margin:10px 0;}

/*General*/
.pad{padding:7px 10px 0 41px;}
.pad-lr{padding:0 10px 0 41px;}
.orange, .orange a, .lt-txt a{color:#15a7e4;font-size:12px;}
.orange a, .lt-txt a{text-decoration:none;}
.lt-txt, .lt-txt a:hover{color:#888888;font-size:12px;}
.msg{background-color:#fff3e5;border:#f3dfc6 solid 1px;padding:10px;margin:10px; font:12px Helvetica, Arial, Verdana, sans-serif;color:#855a28;}
.border-row{/*border-bottom:#EAEAEA solid 1px;*/font-size:12px;color:#333333;padding:0 10px 0 41px;}
.divider{border-bottom:#dcdbdb solid 1px;margin:5px 0;}
.mt{margin-top:8px;}
/*.msg-wm{background-color:#fff3e5;border:#f3dfc6 solid 1px;padding:10px;margin:10px 0; font:12px Helvetica, Arial, Verdana, sans-serif;color:#855a28;}*/
.msg-wm{background-color:#02baf2;color:#333;font:14px Arial, Helvetica, sans-serif;padding:10px 10px 10px 41px; margin-top:10px;}

/* Footer */
.secure{background:#ffffff url(../images/footer-bg.png) repeat-x bottom;padding:5px 7px;margin-top:6px;}
.footer{padding:7px;color:#333333;font:12px Arial, Helvetica, sans-serif;border-top:#e4e4e4 solid 1px;}
.footer a{margin:0 5px;color:#333333;text-decoration:none;}

/*Error*/
.error{color:#e80b00;font-size:11px;margin:5px 0 0;padding:5px 0;}
.error a{color:#e80b00;}

.errorDiv {}
.errorDiv ul {list-style-type:none;margin:0; padding:0;}

.mgn-left{margin-left:10px;}